In [6]:
%matplotlib inline
import matplotlib.pyplot as plt

import pandas as pd

all_cards = pd.read_csv('data/card_data.csv')
print(all_cards.describe())
# 属性なしって必ずモンスターなのか?
monsters = all_cards[pd.notnull(all_cards['Attribute'])]

             Level          ATK          DEF
count  4275.000000  4275.000000  4275.000000
mean      4.449591  1455.553216  1212.318129
std       2.185045   899.165365   802.966529
min       1.000000     0.000000     0.000000
25%       3.000000   800.000000   600.000000
50%       4.000000  1500.000000  1200.000000
75%       6.000000  2100.000000  1800.000000
max      12.000000  5000.000000  5000.000000

In [24]:
# import chainer
# chainer.print_runtime_info()
x =  monsters.drop(columns='Attribute')
t = monsters[['Attribute']]
print(x.shape, t.shape)
# ['DARK', 'DIVINE', 'EARTH', 'FIRE', 'LIGHT', 'WATER', 'WIND']
print(sorted(t.Attribute.unique().tolist()))
print(type(t.Attribute.unique()))

def attribute_to_int(column):
   # とりあえず毎回決め打ちの値を生成
   attr = ['DARK', 'DIVINE', 'EARTH', 'FIRE', 'LIGHT', 'WATER', 'WIND'] 
   # エラーとかとりあえず無視
   return attr.index(column)
   
t.loc[:, 'AttributeInt'] = t['Attribute'].map(attribute_to_int)
t = t.drop('Attribute', axis=1)
t = t.astype('int32')
t.head(5)

(4275, 6) (4275, 1)
['DARK', 'DIVINE', 'EARTH', 'FIRE', 'LIGHT', 'WATER', 'WIND']
<class 'numpy.ndarray'>

   AttributeInt
1             0
4             0
6             3
8             2
9             3