In [3]:
%matplotlib inline
import matplotlib.pyplot as plt

import pandas as pd

all_cards = pd.read_csv('data/card_data.csv')
print(all_cards.describe())

# 属性なしって必ずモンスターなのか?
monsters = all_cards[pd.notnull(all_cards['Attribute'])]

             Level          ATK          DEF
count  4275.000000  4275.000000  4275.000000
mean      4.449591  1455.553216  1212.318129
std       2.185045   899.165365   802.966529
min       1.000000     0.000000     0.000000
25%       3.000000   800.000000   600.000000
50%       4.000000  1500.000000  1200.000000
75%       6.000000  2100.000000  1800.000000
max      12.000000  5000.000000  5000.000000

In [72]:
# import chainer
# chainer.print_runtime_info()
x = monsters.drop(columns='Attribute')
t = monsters[['Attribute']]

# class MyML:
#     def __init__(self):
    
#     def convert_to_int_of(column_name):
#         kinds = create_kinds_list_of(column_name)
#         di = create_kinds_int_dictionary(kinds)
#         return t.replace({column_name: di})
    
def create_kinds_list_of(df, column_name):
    return sorted(df[column_name].unique().tolist())
    
def create_kinds_int_dictionary(kinds):
    dict = {}
    for kind in kinds:
        dict[kind] = kinds.index(kind)
        
    return dict

def convert_to_int_of(df, column_name):
    kinds = create_kinds_list_of(df, column_name)
    di = create_kinds_int_dictionary(kinds)
    return df.replace({column_name: di})

# 属性の例: ['DARK', 'DIVINE', 'EARTH', 'FIRE', 'LIGHT', 'WATER', 'WIND']
t = convert_to_int_of(t, "Attribute")
t = t.astype('int32')


x = convert_to_int_of(x, "Type")
x = convert_to_int_of(x, "Race")
x.head(5)
x.describe()

              Type        Level         Race          ATK          DEF
count  4275.000000  4275.000000  4275.000000  4275.000000  4275.000000
mean      3.551813     4.449591    12.017778  1455.553216  1212.318129
std       5.883506     2.185045     6.613337   899.165365   802.966529
min       0.000000     1.000000     0.000000     0.000000     0.000000
25%       0.000000     3.000000     7.000000   800.000000   600.000000
50%       0.000000     4.000000    11.000000  1500.000000  1200.000000
75%       4.000000     6.000000    18.000000  2100.000000  1800.000000
max      20.000000    12.000000    23.000000  5000.000000  5000.000000